body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    display: flex;
    margin-bottom: 20px;
}

#nueva-tarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#agregarTarea {
    padding: 10px 20px;
    background-color: #434a4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#agregarTarea:hover {
    background-color: #21388a;
}

#tarea-list {
    list-style-type: none;
    padding: 0;
}

.tarea-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tarea-item.completed .tarea-text {
    text-decoration: line-through;
    color: #aaa;
}

.tarea-item button {
    background-color: #b93b48;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tarea-item button:hover {
    background-color: #805256;
}
